{
    "plugins": [
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6":     true,
        "browser": true
    },
    "extends": [
        "strongloop",
    ],
    "rules": {
        "indent":          ["error", 4],
        "linebreak-style": ["error", "unix"],
        "quotes":          ["error", "single"],
        "no-console":     "off",
        "no-unused-vars": "off",
        "semi":           "off",
        "max-len":        "off"
    }
}
